	begin
	load	con	0x2010
	store	gbl	16	;	pLeds
	load	con	0x2023
	store	gbl	18	;	pDisplay4
entry	main	_LP1
	load	con	0x2
	store	lcl	2	;	c
	load	con	0x2021
	store	lcl	6	;	pDisplay2
	load	con	0x2020
	store	gbl	17	;	pDisplay1
	load	con	0x2022
	store	lcl	7	;	pDisplay3
	load	con	0x1
	store	lcl	0	;	a
	loadr	lcl	2	;	&c
	store	gbl	20	;	glbPtr
	loadp	gbl	20	;	*glbPtr
	store	lcl	1	;	b
	loadr	lcl	1	;	&b
	store	lcl	3	;	d
	loadp	lcl	3	;	*d
	store	lcl	4	;	e
	call	foo
	load	fct	0	;	function retval
	store	gbl	19	;	glbVar
	load	gbl	19	;	glbVar
	store	lcl	5	;	f
	loadp	gbl	17	;	*pDisplay1
	load	lcl	0	;	a
	storep	gbl	17	;	*pDisplay1
	loadp	lcl	6	;	*pDisplay2
	load	lcl	1	;	b
	storep	lcl	6	;	*pDisplay2
	loadp	lcl	7	;	*pDisplay3
	load	lcl	4	;	e
	storep	lcl	7	;	*pDisplay3
	loadp	gbl	18	;	*pDisplay4
	load	lcl	5	;	f
	storep	gbl	18	;	*pDisplay4
	loadp	gbl	16	;	*pLeds
	load	lcl	3	;	d
	storep	gbl	16	;	*pLeds
	return			;	end of function
_LP1	equ	8		;	main
entry	foo	_LP2
	load	con	0x3
	popret			;	value to return
	return			;	end of function
_LP2	equ	0		;	foo
	end
